/* //variables for css build */
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root {
  --purple: #73585f;
  --white: #e9eaf2;
  --forest-green: #35402a;
  --light-green: #465350;
  --beige: #a5a694;
  --deep-red: #402a22;
  --sacramento: 'Sacramento', cursive;
  --search-background: #7c7c7c2b;
}

*body {
  box-sizing: border-box;
}

.pose {
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #465350;
  color: var(--white);
}

#flow-title {
  margin-top: 10px;
  text-align: center;
}

#side-repeat {
  text-align: center;
}

#pose-and-clock {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
}

#upcoming {
  height: 250px;
  width: 200px;
  margin: 50px;
  margin-left: 125px;
  margin-top: 10px;
}

#upcoming > .pose-img {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}
#previous {
  height: 250px;
  width: 200px;
  margin: 50px;
  margin-right: 100px;
  margin-top: 10px;
}

#previous > .pose-img {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}

#pose-only {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#current {
  height: 350px;
  width: 300px;
}

#previous-title {
  margin-top: -20px;
  margin-right: 50px;
  text-align: center;
  font-size: 1.5em;
}

#current-title {
  text-align: center;
  font-size: 2em;
}

#upcoming-title {
  margin-top: -20px;
  margin-left: 55px;
  text-align: center;
  font-size: 1.5em;
}

.pose-img {
  height: 300px;
  width: 300px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.info-text {
  margin-top: 10px;
  text-align: center;
}
