<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
    rel="stylesheet"
  />

    <link rel="stylesheet" href="../Styles/dashboard-styles/dashboard.css">
    <!-- <link rel="stylesheet" href="../Styles/flow-builder-styles/card-styles.css"> -->
    <link rel="stylesheet" href="../Styles/dashboard-styles/dashboard-cards.css">
  </head>
  <title>Dashboard</title>
  </head>

  <body>
   
      <div
      id="mySidenav"
      class="sidenav d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
    >
      <a
        href="#"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <img
          class="bi pe-none me-2"
          src="../images/dev-yoga-logo-red.png"
          width="50"
          height="50"
          id="logo-img"
        />
        <span class="fs-4">Dev-Yoga</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="./dashboard.html" class="nav-link" aria-current="page">
            <img
              src="../images/manipura-red.png"
              class="bi pe-none me-2"
              width="35"
              height="35"
            />
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="./flow-builder.html" class="nav-link" aria-current="page">
            <img
              src="../images/vishuddha-red.png"
              class="bi pe-none me-2"
              width="35"
              height="35"
            />
            Flow Builder
          </a>
        </li>
        <li class="nav-item">
          <a href="./flow-runner.html" class="nav-link" aria-current="page">
            <img
              src="../images/svadishthana-red.png"
              class="bi pe-none me-2"
              width="35"
              height="35"
            />
            Flow Runner
          </a>
        </li>
        <hr>
        <li class="nav-item">
          <a href="../index.html" class="nav-link" aria-current="page">
            <img
              src="../images/yoga-mat-red.png"
              class="bi pe-none me-2"
              width="35"
              height="35"
            />
            Log Out
          </a>
        </li>
      </ul>
      <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <header>
      <span
        style="
          margin-left: 45px;
          font-size: 45px;
          cursor: pointer;
          display: inline;
        "
        onclick="openNav()"
      >
        &#9776;</span
      >
      <h1 id="page-title">Dashboard </h1>
    </header>   

    <section class="text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Let's do some &lt;Dev-Yoga&#47;&#62;</h1>
          <p class="lead text-muted">

          </p>
          <p>
            <a href="#" class="btn btn-primary">Resume Workout</a>
            <a href="#" class="btn btn-outline-info" id="randomBtn">Random Workout</a>
          </p>
        </div>
      </div>
    </section>
    <h3>Your Saved Flows</h3>
    <section id="saved-flows">   
    </section>
    <main id="main">
    </main>
    <div id="pb-widget"></div>
    <div class="containers" id="clock-container">
      <div class="setters">
        <div class="minutes-set">
          <button data-setter="minutes-plus">+</button>
          <button data-setter="minutes-minus">-</button>
        </div>
        <div class="seconds-set">
          <button data-setter="seconds-plus">+</button>
          <button data-setter="seconds-minus">-</button>
        </div>
      </div>
      <div class="circle">
        <svg
          width="300"
          viewBox="0 0 220 220"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g transform="translate(110,110)">
            <circle r="100" class="e-c-base" />
            <g transform="rotate(-90)">
              <circle r="100" class="e-c-progress" />
              <g id="e-pointer">
                <circle cx="100" cy="0" r="8" class="e-c-pointer" />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="controlls">
        <div class="display-remain-time"></div>
        <button class="play" id="pause"></button>
      </div>
    </div>
    <section id="dash-pose-cards-container">
      
      <section id="dash-search-bar">
        <input type="text" id="dash-filter-cards" /><button id="dash-filter-button">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 1024 1024"
            height="1.5em"
            width="1.5em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"
            ></path>
          </svg>
        </button>
      </section>
      <section id="dash-pose-grid">
      </section>
<!--Chat Bot-->
     
      <script>
        var bot_config = {
          PB_HOST: "home",
          PB_BOTKEY: "V5vcilejcMkVOzQssHhV-R3Yysv5YYsilN0B7wzmjlcaeYTB8p8g363JILW_WUzf7aA2-Iy-5BE3cg2tMwf2vjceDY0VBKVR",
          title: "Yoga Build Assistant",
          colors: { theme: "#73585F", text: "#FFFFFF" },
          conversationOpener: "Namaste, type hello to get started.",
          descriptionTitle: "Need Help? Click Here",
          descriptionText: "Site instructions and more...",
          actionText: "Yoga Assistant Chat",
          placeholderText: "Type Hello",
          botAvatar: "../images/yoga-pose-red.png",
        }
      </script>
      
      <!-- Other scripts -->
      <script src="https://widget.pandorabots.com/prod/pb-widget.js" type="text/javascript"></script>
    <script src="../Scripts/nav-bar.js"></script>
    <script
      type="module"
      src="../Scripts/dashboard-scripts/randombutton.js"
    ></script>   
<script type="module" src="../Scripts/dashboard-scripts/saved-flow-init.js"></script>
<script type="module" src="../CRUD/delete-flows.js"></script>
  </body>
</html>